{% extends "ReviewHub/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h2>{{ book.title }}</h2>
        <p>Author: {{ book.author }}</p>
        <p>Genre: {{ book.genre }}</p>
        <p>Publication Year: {{ book.pub_year }}</p>
        <p>About: {{ book.about }}</p>
        <p>Average Rating: {{ book.avg_rating }}</p>

        <h3>Reviews</h3>
        {% if book.review_set.all %}
            <ul>
                {% for review in book.review_set.all %}
                    <li>
                        <strong>{{ review.user}}</strong> rated it {{ review.rating }} stars.
                        <br>
                        {{ review.context }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No reviews yet. Be the first to review!</p>
        {% endif %}
    </div>
{% endblock %}
