{% extends "ReviewHub/base.html" %}
{% load static %}
{% block content %}
    <!-- All Books Section -->
    <section class="all-books my-5">
        <div class="container">
            <h2 class="text-center mb-4">All Books</h2>
            <div class="row">
                {% for book in books %}
                    <div class="col-md-3 col-sm-6 mb-4">
                        <div class="position-relative">
                            <img src="{% static 'images/book.jpg' %}"
                                 class="card-img-top rounded"
                                 alt="{{ book.title }}">
                            <div class="overlay position-absolute start-50 translate-middle-x p-3 text-center w-100">
                                <a href="{% url 'book_detail' pk=book.id %}">
                                    <h5 class="card-title text-info">{{ book.title }}</h5>
                                </a>
                                <p class="card-text text-muted">Author: {{ book.author }}</p>
                                <a href="{% url 'add_review' book_id=book.id %}" class="btn btn-primary">Add review</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
