{% extends "ReviewHub/base.html" %}
{% load static %}
{% block title %}
    Home - Book Reviews
{% endblock title %}
{% block content %}
    <style>
        body {
            background-color: #FFE7D6;
            color: #000000; /* Set text color for the entire page */
        }

        .hero {
            background-color: #e2a173;
        }

        .cta {
            background-color: #FFE7D6;
        }
    </style>
    <!-- Hero Section -->
    <!-- Hero Section with Header Image -->
    <img src="{% static 'images/header.jpg' %}"
         class="img-fluid"
         alt="Header Image">
    <section class="hero text-white text-center py-5">
        <div class="container">
            <h1 class="display-4">Explore and Share Your Favorite Books</h1>
            <p class="lead">Discover a world of literature and connect with fellow book enthusiasts.</p>
            <a href="{% url 'book_list' %}" class="btn btn-light btn-lg">Explore Books</a>
        </div>
    </section>
{% endblock content %}
